/* general */
body{
	margin: 0px;
}

@media (max-width:650px) { 
    body{
        display: inline-block;
    }
}

*{
	font-family: monospace;
}

/* svg styling */
.square{
	/* stroke-width: 2px;
	stroke: black; */
    /* transition: fill .1s ease-in-out; */
}
.piece{
	cursor: pointer;
    transition: 0.5s cubic-bezier(0.50, 0, 0.15, 1);
    /* filter: drop-shadow(1px 3px 3px #00000063); */
}
.pointer{
	cursor: pointer;
}
.coord-text{
    fill: #767676;
    font-size: 12px;
    user-select: none;
}

/* general */
.title{
    font-size: 70px;
    margin: 0px;
	margin-top: 10px;
    text-align: center;
	user-select: none;
    white-space: nowrap;
}
.header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.chess-bot{
    height: 100px;
    image-rendering: pixelated;
    padding-left: 20px;
}
.title-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}
.board-container{
    display: flex;
    width: fit-content;
    margin: auto;
    position: relative;
}
.flip{
    transform: rotate(180deg);
}
.flip-piece{
    transform: rotate(180deg);
    transform-box: fill-box;
    transform-origin: center;
}
.stats{
    text-align: center;
    color: black;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
    height: 18px;
}
.color-container, .bot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button, input, select, .legend-item{
    background-color: white;
    border: 2px #5f5f5f solid;
    color: #444444;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    padding: 2px 10px 2px 8px;
    text-align: center;
}
.button{
    white-space: nowrap;
    /* transition: 0.2s linear; */
}
#threads {
    width: 70px;
}
#difficulty{
    width: 90px;
}
.button:hover, .toggle-active{
    background-color: #5f5f5f;
    color: white;
}
.thread-container{
    display: flex;
    width: 400px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}
.thread-container p{
    text-align: center;
    margin-bottom: 0px;
}
.thread-idle{
    color: #1cca00;
}
.thread-busy{
    color: #ff5b5b;
}
#threads-visual{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#threads-visual span{
    width: 90px;
    white-space: nowrap;
    margin-bottom: 2px;
}

/* error */
.error{
	text-align: center;
    color: #ff5b5b;
    font-size: 26px;
    margin-top: 0px;
    height: 20px;
}

/* overlay */
.promotion-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000005e;
    top: 0px;
    left: 0px;
    z-index: 20;
    display: none;
}
.promotion-image{
	width: 100%;
    height: 100%;
}
.promotion-image:hover{
	background-color: orange;
	cursor: pointer;
}
.promotion-item{
	width: 140px;
    height: 140px;
    background-color: white;
}
.promotion-container{
	display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid black;
    width: fit-content;
    margin: auto;
    margin-top: 40vh;
}

/* legend */
.legend-item{
    width: 120px;
    text-align: center;
    height: fit-content;
    cursor: default;
}
.legend-item p{
    margin: 0px;
}
.legend-text{
    margin: 0px;
    font-size: 19px;
    width: 105px;
    text-align: center;
}
.divider{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid lightgray;
}
.legend-title{
    font-size: 26px;
    margin: 30px 0px 5px 0px;
    text-align: center;
    font-weight: 200;
}
.legend-item-row{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

/* moves */
.white{
    color: rgb(201, 201, 201);
}
.black{
    color: rgb(63, 63, 63);
}
.moves{
    display: flex;
    justify-content: center;
    font-size: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 15px;
}
.move-item{
    padding: 0px 5px 0px 5px;
}

/* footer */
.footer{
    padding-left: 5px;
    font-size: 13px;
    position: absolute;
    bottom: 0px;
}
.footer p{
    margin: 0px;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: white;
}

/* overlay */
.victory-overlay{
    font-size: 30px;
    height: 50px;
    background-color: #ffffffb8;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    z-index: 10;
    display: none;
    padding: 0px 15px 0px 15px;
}
.victory-overlay-container{
    display: flex;
    justify-content: center;
    top: 215px;
    width: 100%;
    position: absolute;
}

/* timer */
.timer-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
}
.timer {
    width: 200px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

/* replay */
.replay-container{
    justify-content: center;
    display: none;
}

/* resign */
.resign-container{
    display: flex;
    justify-content: center;
}